 @*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model MovTicket.Models.Entities.Movie

@if (Model is null)
{
    <p>ID is NULL</p>    
}
else
{
    <form method="post" asp-action="Detail">
        <div class="mt-3">
            <h4 class="form-label">ID</h4>
            <input type="text" class="form-control" asp-for="m_id" readonly />
            <br>
            <h4 class="form-label">Title</h4>
            <input type="text" class="form-control" asp-for="m_title" readonly />
            <br>

            <h4 class="form-label">Genre: </h4>
            <input type="text" class="form-control" asp-for="m_genre" readonly/>
            <br>

            <h4 class="form-label">Realease Date: </h4>
            <input type="text" class="form-control" asp-for="m_releaseDate"readonly />
            <br>

            <h4 class="form-label">Room: </h4>
            <input type="text" class="form-control" asp-for="m_room" readonly/>
            <br>

            <h4 class="form-label">Showtime: </h4>
            <input type="text" class="form-control" asp-for="m_showTime" readonly/>
            <br>


            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Zurück</button>
            </div>
        
    </form>
}
